header {}

header .top_navbar {
    height: 80px;
    /* background-color: #EAECF0; */
    background-color: #CFD8DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    color: #344054;
}

header .top_navbar .right {
    width: 200px;
}

header .top_navbar .right img {
    width: 100%;
    object-fit: fill;
}

header .top_navbar .center,
header .mobile_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55vw;
    position: relative;
    border: 2px solid #D0D5DD;
    border-radius: 8px;
    background-color: #FCFCFD;
    padding: 0 15px;
}

header .top_navbar .center .search_box,
header .mobile_search .search_box {
    width: 67%;
    height: 44px;
}

header .top_navbar .center .search_box input,
header .mobile_search .search_box input {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    direction: rtl;
}

header .top_navbar .center .category {
    position: relative;
    width: 15%;
    direction: rtl;
}

header .top_navbar .center .category .angle {
    position: absolute;
    left: -25px;
    top: 5px;
}

header .top_navbar .center .category::before {
    content: '';
    position: absolute;
    left: -40px;
    width: 2px;
    height: 24px;
    background-color: #D0D5DD;
}

header .top_navbar .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

header .top_navbar .left .login_icon,
header .categorys .card .icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #D0D5DD;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

header .top_navbar .left .login_icon:hover {
    background-color: #11bbd9b7;
}


header .menu {
    height: 56px;
    background-color: #155EEF;
    /* background-color: #2196F3; */
    /* background-color: #00BCD4; */
    /* background-color: #00ACC1; */
    /* background-color: #0288D1; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    direction: rtl;
    padding: 0 70px;
    position: relative;
}

header .menu a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 40px 8px;
    z-index: 80;
}

header .menu a .angle {
    padding-top: 3px;
}

header .menu .drop_menu {
    position: absolute;
    top: 60px;
    height: 300px;
    background-color: #11bbd9eb;
    right: 70px;
    width: 70%;
    /* transition: opacity 0.3s ease-in, visibility 0.3s ease-in; */
    border-radius: 25px;
    display: none;
    z-index: 89;
    /* padding: 40px; */
}

.show {
    display: block !important;
    animation: drop 0.3s 1 ease-in;
}

header .categorys {
    padding: 0 70px;
}

header .categorys .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 10px;
    border: 3px solid #F2F4F7;
    border-radius: 8px;
    padding: 8px 10px;
    margin: 30px 0 60px 0;
    width: 12.5vw;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

header .categorys .card:hover {
    background-color: #11bbd9;
}

header .categorys .card:hover .icon {
    background-color: #11bbd9;
}

header .swiper-button-next,
header .swiper-button-prev {
    background-color: #F2F4F7 !important;
    border-radius: 100px !important;
    padding: 20px !important;
    color: #676b71 !important;
}

header .swiper-button-next {
    /* inset: 0;
    margin: auto;
    top: 70px; */
    top: 145px;
    left: 51%;
    transform: translate(-50%, -50%);
}

header .swiper-button-prev {
    top: 145px;
    left: 47%;
    transform: translate(-50%, -50%);
}

header .swiper-button-prev:after,
header .swiper-button-next:after {
    font-size: 15px !important;
    font-weight: bolder !important;
}


/* mobile styles */
.top_navbar .menu_icon {
    display: none;
    background-color: #D0D5DD;
    border-radius: 200px;
    padding: 6px 12px;
    font-size: 20px;
    color: #47596C;
}

header .mobile_search {
    display: none;
    margin: auto;
    width: 90vw;
    margin-top: -60px;
    margin-bottom: 15px;
}

@keyframes drop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


@media only screen and (max-width: 1150px) {

    header .top_navbar,
    header .menu,
    header .categorys {
        padding: 0 30px;
    }

    header .top_navbar .center .search_box {
        width: 60%;
    }

    header .top_navbar .center .category {
        width: 20%;
    }
}

@media only screen and (max-width: 980px) {

    header .menu,
    header .top_navbar .center,
    header .top_navbar .left .login_icon:first-child,
    header .top_navbar .left .login_icon:last-child {
        display: none;
    }

    .top_navbar .menu_icon {
        display: block;
    }

    header .mobile_search {
        display: flex;
    }

    header .top_navbar {
        padding: 20px 15px 0 15px;
        height: 145px;
        align-items: flex-start;

    }
}