.poster {
    position: relative;
    direction: rtl;
}

.poster img {
    object-fit: fill;
    width: 100vw;
    height: 400px;
}


@media only screen and (max-width: 980px) {
    .poster img {
        height: 250px;
    }
}