@font-face {
  font-family: vazir;
  src: url(components/styles/font/vazir-font-v16.1.0/Vazir-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: vazir;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input::placeholder {
  font-family: vazir;
}
